/.env
/.env.*
!/.env.example
/vendor/
/.idea/
/.vscode/

/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

*.csv
*.xls
*.xlsx
*.sql
*.dump
*.bak
*.backup
*.zip
*.rar
*.7z
*.pem
*.key
*.pfx
*.p12
.rnd
composer.phar
info.php
phpunit.xml.cache
